$black:#221F1F;
$white:#ffffff;
$text-color:#221F1F;
$pearl-drop:#F0EBE4;
$pearl-drop2:#F1ECE5;
$dawn-pink:#E9D9CE;
$light-pink:#D7C3B6;
.pearl-bg {
    background-color: $pearl-drop;
}
.pearl-bg2 {
    background-color: $pearl-drop2;
}
.dawn-pink-bg {
    background-color: $dawn-pink;
}
.light-pink-bg {
    background-color: $light-pink;
}