$black:#231F20;
$white:#ffffff;
$text-color:#231F20;
$pearl-drop:#F3e3d8;
$pearl-drop2:#Faf5ee;
$dawn-pink:#c1a59a;
$light-pink:#e1cdc0;
$red:red;
.pearl-bg {
    background-color: $pearl-drop;
}
.pearl-bg2 {
    background-color: $pearl-drop2;
}
.dawn-pink-bg {
    background-color: $dawn-pink;
}
.light-pink-bg {
    background-color: $light-pink;
}
.white-bg {
    background-color: $white;
}