@import "../classes.scss";
@import "../common.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/chapter-content.scss";

.page-blog {
    .row {
        margin: 0 -22.5px;
    }

    img {
        height: auto;
        max-width: 100%;
        width: auto;
    }

    .blog-writer {
        display: flex;
        align-items: center;
        margin-bottom: 11px;

        .profile-image {
            max-width: 20px;
            flex: 0 0 20px;
            line-height: 0;
            margin-right: 8px;

            img {
                border-radius: 100%;
            }
        }
    }

    .col-blog {
        padding: 0 22.5px;
        max-width: 33.33%;
        flex: 0 0 33.33%;
        margin-bottom: 45px;
    }

    .card {
        position: relative;
        opacity: 1;
        transition: opacity .3s;

        &:hover {
            opacity: 0.7;
        }

        h4 {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            font-family: "inter";
            font-weight: 300;
            margin-bottom: 0px;
            color: #656263;

            .date {
                margin-left: 17px;
            }

            .name {
                position: relative;
                display: inline-block;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -13px;
                    width: 4px;
                    height: 4px;
                    background-color: #656263;
                    border-radius: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        h5 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 11px;
        }

        .intro-text {
            line-height: 20px;
            font-weight: 400;
        }
    }

    .card-content {
        padding: 22px 0 0;
    }

    .card-image {
        min-height: inherit;
        padding-bottom: 50%;
    }
}

.section-blog-listing {
    padding: 115px 0 100px;

    .container {
        max-width: 1093px;
    }
}

// Blog listing css end
.page-blog-detail {
    header {
        background-color: transparent;
    }

    .middle-content {
        padding-top: 0;
    }

    p {
        margin-bottom: 16px;
    }

    h4 {
        font-size: 29px;
        margin-bottom: 16px;
    }

    h6 {
        font-size: 16px;
        margin-bottom: 12px;
    }

    ul,
    ol {
        padding-left: 22px;
        margin-bottom: 12px;
    }

    .section-chapter-content {
        padding: 70px 0;
    }
}

.section-blog-heading {
    padding: 160px 0 90px;

    .container {
        max-width: 900px;
    }

    h4,
    h5 {
        font-size: 17px;
        line-height: 50px;
        font-family: "Inter";
        font-weight: 500;
    }

    h5 {
        text-transform: uppercase;
    }

    .page-title {
        padding: 10px 0 25px;
    }
}

.section-content {
    padding: 40px 0;

    h5 {
        font-size: 20px;
        margin: 14px 0;
    }

    a {
        color: $text-color;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.section-heading {
    padding: 70px 0;

    .container {
        max-width: 950px;
    }

    h3 {
        font-size: 30px;
        line-height: 40px;
    }
}

.section-back-to-article {
    padding: 70px 0;
}

.section-full-image {
    padding: 40px 0;
}

.content-full-image {
    padding: 20px 0;
    text-align: center;
}

.header-sticky {
    header {
        background-color: $white;
    }
}

.blog-content-title {
    margin-bottom: 10px;

    h3 {
        color: $black;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 0;

        @media (max-width:767px) {
            font-size: 17px;
        }
    }
}

// Responsive CSS start
@media (max-width:1440px) {
    .page-blog {
        .card {
            h4 {
                font-size: 14px;
                line-height: 40px;
            }

            h5 {
                font-size: 21px;
            }
        }
    }

    .section-blog-heading {
        padding: 140px 0 70px;

        h4,
        h5 {
            font-size: 14px;
            line-height: 40px;
        }
    }

    .page-blog-detail {
        h4 {
            font-size: 26px;
        }
    }
}

// 1440 end
@media (max-width:1199px) {
    .section-blog-listing {
        padding: 50px 0;
    }

    .page-blog {
        .card {
            h5 {
                font-size: 18px;
            }
        }
    }
}

.section-heading {
    padding: 70px 0;

    .container {
        max-width: 950px;
    }

    h3 {
        font-size: 27px;
        line-height: 1.4;
    }
}

.page-blog-detail {
    h4 {
        font-size: 23px;
    }
}

// 1199 end
@media (max-width:1023px) {
    .section-blog-listing {
        padding: 30px 0;
    }

    .page-blog {
        .card {
            h5 {
                font-size: 21px;
                margin-bottom: 10px;
            }

            h4 {
                line-height: 2;
            }
        }
    }

    .section-content {
        padding: 60px 0;

        h5 {
            font-size: 16px;
            margin: 10px 0;
        }
    }

    .section-full-image {
        padding: 60px 0;
    }

    .section-back-to-article {
        padding-bottom: 60px;
    }

    .section-blog-heading {
        padding: 120px 0 60px;
    }

    .page-blog-detail {
        h4 {
            font-size: 20px;
        }
    }

    .section-heading {
        padding: 60px 0;

        h3 {
            font-size: 24px;
        }
    }
}

// 1023 end
@media (max-width:767px) {
    .page-blog {
        .col-blog {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .section-img-col {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .section-content {
        padding: 40px 0;
    }

    .section-full-image {
        padding: 40px 0;
    }

    .section-back-to-article {
        padding-bottom: 60px;
    }

    .section-blog-heading {
        padding: 100px 0 30px;
    }
}

// 767 end
@media (max-width:575px) {
    .page-blog {
        .col-blog {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

// 575 end