@import "../classes.scss";
@import "../common.scss";
@import "../components/client-sucess.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/accordion.scss";


.page-how-it-works {
    background-color: $pearl-drop;
    header {
        background-color: transparent;
    }
    .section-client-success {
        padding: 50px 0;
    }
}
.header-sticky {
    header {
        background-color: $white;
    }
}
.section-accordion {
    .accordion {
        padding-bottom: 75px;
    }
}
.process-list {
    position: relative;
    text-align: left;
    list-style: none;
    counter-reset: a;
    padding-top: 220px;
    padding-bottom: 100px;

    &:before {
        content: "";
        width: 1px;
        height: 102%;
        background-color: $black;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    li {
        display: flex;
        counter-increment: a;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 44;

        +li {
            margin-top: 60px;
        }

        &:after {
            content: url('../../images/how-it-works/process-graphic.svg');
            display: block;
            width: 46%;
            position: absolute;
            top: -80%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        &:nth-child(2n):before {
            content: url('../../images/how-it-works/process-graphic-dark.svg');
            display: block;
            width: 46%;
            position: absolute;
            top: -80%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: -1;
        }

        &:nth-child(2n):after {
            top: 50%;
        }

        &:nth-child(2n) .list-heading,
        &:nth-child(2n) .list-heading h3 {
            ;
            flex-direction: row-reverse;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;

            .list-image {
                margin-right: 0;
                margin-left: 45px;
            }

            .list-heading {
                text-align: right;
            }

            .list-content {
                p {
                    margin: 0 0 0 auto;
                    text-align: right;
                }
            }
        }
    }

    .list-heading {
        width: 49%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 4;

        &:before {
            content: counter(a);
            margin-bottom: 0;
            font-size: 23px;
            font-weight: 300;
        }

        h3 {
            font-size: 23px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 500;
            display: flex;
            font-family: "Inter";
            align-items: center;

            &:before {
                content: "";
                margin: 0 15px;
                width: 110px;
                height: 1px;
                background-color: $black;
                display: block;
            }
        }
    }

    .list-image {
        width: 205px;
        min-width: 205px;
        height: 205px;
        border-radius: 50%;
        order: -1;
        margin-right: 51px;
    }

    .list-content {
        width: 45.7%;
        line-height: 1.8;
        font-weight: 300;
        position: relative;
        z-index: 44;

        p {
            max-width: 420px;
        }
    }
}

.image-fit {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50%;
}

.image-fit img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.page-title {
    max-width: 870px;
    margin: 0 auto 95px;
}

.section-images {
    padding: 140px 0 0;
}