@import "../classes.scss";
@import "../common.scss";
@import "../components/client-sucess.scss";
@import "../components/project-fingertips.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/accordion.scss";


.page-how-it-works {
    background-color: #f9f4ed;

    header {
        background-color: transparent;
    }

    .section-client-success {
        padding: 50px 0;
    }
}

.header-sticky {
    header {
        background-color: $white;
    }
}

.section-accordion {
    .accordion {
        padding-bottom: 75px;
    }
}

.icons-list-group {
    position: relative;
    text-align: left;
    list-style: none;
    counter-reset: a;
    padding-top: 220px;
    padding-bottom: 100px;

    &:before {
        content: "";
        width: 1px;
        height: 102%;
        background-color: $black;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    li {
        display: flex;
        counter-increment: a;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 44;

        +li {
            margin-top: 60px;
        }

        &:after {
            content: url('../../images/how-it-img/process-graphic.svg');
            display: block;
            width: 45%;
            position: absolute;
            top: -80%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        &:nth-child(2n):before {
            content: url('../../images/how-it-img/process-graphic-dark.svg');
            display: block;
            width: 45%;
            position: absolute;
            top: -80%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: -1;
        }

        &:nth-child(2n):after {
            top: 50%;
        }

        &:nth-child(2n) .list-heading,
        &:nth-child(2n) .list-heading h3 {
            flex-direction: row-reverse;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;

            .list-image {
                margin-right: 0;
                margin-left: 45px;
            }

            .list-heading {
                text-align: right;
            }

            .list-content {
                p {
                    margin: 0 0 0 auto;
                    text-align: right;
                }
            }
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    .list-heading {
        width: 49%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 4;

        &:before {
            content: counter(a);
            margin-bottom: 0;
            font-size: 50px;
            font-weight: 300;
        }

        h3 {
            font-size: 23px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 400;
            display: flex;
            font-family: "Inter";
            align-items: center;

            &:before {
                content: "";
                margin: 0 15px;
                width: 110px;
                height: 1px;
                background-color: $black;
                display: block;
            }
        }
    }

    .list-image {
        width: 205px;
        min-width: 205px;
        height: 205px;
        border-radius: 50%;
        order: -1;
        margin-right: 51px;
    }

    .list-content {
        width: 45.7%;
        line-height: 1.8;
        font-weight: 300;
        position: relative;
        z-index: 44;

        p {
            max-width: 400px;
        }
    }
}

.image-fit {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50%;
}

.image-fit img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.page-title {
    max-width: 860px;
    margin: 0 auto 95px;
}

.section-images {
    padding: 140px 0 0;
}

// Responsive CSS Start
@media (max-width:1440px) {
    .page-title {
        max-width: 760px;
    }

    .icons-list-group {
        .list-heading {
            &::before {
                font-size: 45px;
            }

            h3 {
                font-size: 20px;
            }
        }

        .list-image {
            width: 180px;
            min-width: 180px;
            height: 180px;
        }
    }

    .section-images {
        padding: 100px 0 0;
    }
}

// 1440 end
@media (max-width:1199px) {
    .container {
        padding: 0 30px;
    }

    .icons-list-group {
        .list-heading {
            &::before {
                font-size: 40px;
            }

            h3 {
                font-size: 17px;
            }
        }

        .list-image {
            width: 160px;
            min-width: 160px;
            height: 160px;
        }
    }

    .section-images {
        padding: 70px 0 0;
    }
}

// 1199 end
@media (max-width:1023px) {
    .icons-list-group {
        padding: 0;

        &::before {
            display: none;
        }

        .list-image {
            margin-right: 20px;
        }

        li {
            display: block;

            +li {
                margin-top: 30px;
            }

            &:after {
                top: 5%;
                -webkit-transform: unset;
                -ms-transform: unset;
                transform: unset;
                left: auto;
                right: 0;
            }

            &:nth-child(2n):before {
                top: 3%;
                -webkit-transform: unset;
                -ms-transform: unset;
                transform: unset;
                left: 0;
            }
            &:nth-child(2n):after {
                display: none;
            }
            &:nth-child(2n) .list-content {
                width: 100%;
                text-align: right;
            }
        }
        .list-heading {
            width: 100%;
            margin-bottom: 20px;
            &:before {
                font-size: 25px;
            }
            h3 {
                max-width: 210px;
                &::before {
                    width: 25px;
                }
            }
        }
        .list-content {
            width: 100%;
        }
    }

    .page-title {
        margin-bottom: 40px;
    }
    .section-images {
        padding-bottom: 40px;
    }
    .section-accordion .accordion {
        padding-bottom: 40px;
    }
}

// 1023 end
@media (max-width:767px) {
    .icons-list-group {
        .list-image {
            width: 90px;
            min-width: 90px;
            height: 90px;
        }   
    }
}

// 767 end