@import "../classes.scss";
@import "../common.scss";
@import "../components/chapter-content.scss";
@import "../components/slider.scss";
@import "../components/category.scss";
@import "../components/image-content.scss";
@import "../components/header.scss";
@import "../components/footer.scss";


.section-intro-image {
    .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .section-image-content {
        min-height: 650px;
    }

    .section-content-col {
        position: relative;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .page-title {
        max-width: 550px;
        margin: 0 auto;
    }
}

.section-location-info {
    padding: 100px 0;

    .container {
        max-width: 880px;
    }

    h2 {
        margin-bottom: 70px;
    }

    p+p {
        margin-top: 25px;
    }
}

.section-locations-listing {
    .col-location {
        position: relative;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .stretched-link {
        transition: background-color .3s ease-in-out;

        &:hover {
            background-color: $white;
        }
    }
    .hover-link {
        .stretched-link {    
            background-color: $white;
        }   
    }
    .hover-span {
        display: none;
    }
    .anchor-link {
        background-color: $white;
    }

    .locations-image {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 710px;
    }
    h2 a{
        position: relative;
        z-index: 1;
        background-color: $white;
        padding: 40px;
        color: $text-color;
        display: block;
    }
}

.section-stay-tuned {
    padding: 100px 0;

    .container {
        max-width: 890px;
    }

    h3 {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 55px;
        text-transform: uppercase;
        font-family: "Inter";
        font-weight: 500;
    }
}

.section-project-info {
    padding: 60px 0;

    .container {
        max-width: 760px;
    }

    h2 {
        margin-bottom: 32px;
    }

    h6 {
        font-size: 17px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 15px;
    }
}

.section-image-content {
    .two-joint-images {
        display: flex;
position: relative;
.before-img {
    position: relative;
    &:after {
        content: '';
        display: block;
        background-image: url('../../images/icons/Slider.svg');
        position: absolute;
        top: 0;
        right: -26px;
        height: 100%;
        width: 52px;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}
        .bg-image {
            max-width: 50%;
            flex: 0 0 50%;
            min-height: 580px;
            position: relative;

            h5 {
                font-size: 17px;
                line-height: 30px;
                position: absolute;
                bottom: 12px;
                left: 12px;
                display: inline-block;
                background-color: $text-color;
                color: $white;
                padding: 5px;
                min-width: 92px;
                text-align: center;
                font-weight: 400;
            }
        }

        .after-img {
            h5 {
                left: auto;
                right: 12px;
            }
        }
    }
}

.section-only-content {
    padding: 80px 0;

    .container {
        max-width: 910px;
    }
}

.two-col-layout {
    .bg-image {
        min-height: 580px;
    }
}
.after-img {
    background-position: center right;
}
// Responsive CSS start
@media (max-width:1440px) {
    .section-locations-listing {
        .locations-image {
            min-height: 600px;
        }
    }

    .section-stay-tuned {
        h3 {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 35px;
        }
    }
}

// 1440 end
@media (max-width:1199px) {
    .section-intro-image {
        .section-image-content {
            min-height: 550px;
        }
    }

    .section-location-info h2 {
        margin-bottom: 40px;
    }

    .section-stay-tuned {
        h3 {
            font-size: 28px;
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }
}

// 1199 end
@media (max-width:1023px) {
    .section-stay-tuned {
        padding: 60px 0;
    }

    .section-location-info {
        padding: 60px 0;

        p+p {
            margin-top: 15px;
        }
    }
}

// 1023 end 
@media (max-width:767px) {
    .section-intro-image {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .section-image-content {
            min-height: 300px;
            padding-bottom: 75%;
            order: 1;
        }

        .section-content-col {
            padding: 30px 20px;
        }
    }

    .section-location-info {
        h2 {
            margin-bottom: 20px;
        }
    }

    .section-stay-tuned {
        h3 {
            font-size: 23px;
        }

        p {
            br {
                display: none;
            }
        }
    }

    .section-locations-listing {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .locations-image {
            min-height: 400px;

            h2 {
                padding: 20px 30px;
            }
        }
    }

    .page-locations {
        .section-image-content {
            .content {
                margin: 0 auto;
            }

            .row {
                &:nth-child(2n) {
                    .col-img-content {
                        order: 1;
                    }
                }
            }

            .col-img {
                padding-bottom: 0;
            }

            .two-joint-images {
                flex-wrap: wrap;

                .bg-image {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                .after-img h5 {
                    top: 12px;
                    bottom: auto;
                    left: 12px;
                    right: auto;
                }
            }
        }
    }
    .section-image-content .two-joint-images .before-img:after {
        right: 0;
        display: none;
    }
    .section-only-content {
        padding: 60px 0;
    }
    .two-col-layout .bg-image {
        max-width: 100%;
        flex:0 0 100%;
        min-height: 350px;
    }
    .page-miamis {
        .section-image-content .col-img {
            min-height: 380px;
        }
    }
}

// 767 end