@import "../classes.scss";
@import "../common.scss";
@import "../components/chapter-content.scss";
@import "../components/before-after-slider.scss";
@import "../components/slider.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/image-content.scss";


.section-project-info {
    padding: 80px 0 152px;

    h2 {
        line-height: 1.2;
        margin-bottom: 31px;
    }

    h6 {
        font-size: 17px;
        line-height: 30px;
        font-family: "Inter";
        margin-bottom: 31px;
    }

    p {
        font-weight: 400;
    }
}

.section-image-content {
    .content {
        max-width: 730px;
    }
}

.section-youtube-video {
    padding: 50px 0;
}
.after-before-slider-wrap {
    padding-bottom: 48px;
}
// Responsive css start
@media (max-width:1440px) {
    .section-project-info {
        padding: 80px 0 130px;
    }    
}
// 1440 end
@media (max-width:1199px) {
    .section-project-info {
        padding: 60px 0 100px;
    }    
}
// 1199 end
@media (max-width:1023px) {
    .section-project-info {
        padding: 40px 0;
        h2,h6 {
            margin-bottom: 15px;
        }
    }    
}
// 1199 end
