@import "../classes.scss";
@import "../common.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/slider.scss";
@import "../components/chapter-content.scss";
@import "../components/category.scss";
@import "../components/image-content.scss";
.page-projects {
    header {
        border-bottom: 0.5px solid $black;
    }
}
.section-full-image {
    min-height: 820px;
}
.section-project-info {
    padding: 95px 0;
    .container {
        max-width: 760px;
    }
    h2 {
        margin-bottom: 42px;
    }
}
.section-single-heading {
    padding: 88px 0;
}
.section-two-full-img-layout {
    .bg-image {
        min-height: 100vh;
    }
}
// Responsive start
@media (max-width:1023px) {
    .section-full-image {
        min-height: 700px;
    }
    .section-project-info {
        padding: 60px 0;
    }
    .section-single-heading {
        padding: 60px 0;
    }
}
// 1023 end
@media (max-width:767px) {
    .section-full-image {
        min-height: 300px;
        padding-bottom: 75%;
    }
    .section-two-full-img-layout .bg-image {
        min-height: 300px;
        padding-bottom: 75%;
    }
}
// 767 end