.section-project-category {
    padding: 5px 15px;

    ul {
        display: flex;
        justify-content: center;

        li {
            padding: 0 25px;
        }

        a {
            font-size: 17px;
            line-height: 50px;
            font-weight: 400;
            color: $text-color;
        }
    }
}
// Responsive CSS start
@media (max-width:1440px) {
    .section-project-category {
        ul {  
            a {
                font-size: 14px;
                line-height: 40px;
            }
        }
    }
}
// 1440 end