.cost-estimator-wrap {
    .page-estimator {
        padding: 100px 0 0;
    }

    .middle-content {
        padding-bottom: 100px;
    }
.main-row {
    margin: 0;
}
    .col-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    
    .col-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    
    .col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    
    .col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    
    .col-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    
    .col-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    
    .col-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    
    .col-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    
    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .label {
        font-size: 14px;
        color: black;
        font-weight: bold;
    }

    input[type="range"] {
        width: 80%;
        margin: 10px 0;
    }

    .cost-breakdown {
        margin-top: 10px;
    }

    .price-range {
        margin-top: 10px;
        font-size: 14px;
    }

    .price-range span {
        font-weight: bold;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .col-4 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .col-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .col-8 {
        max-width: 66.66%;
        flex: 0 0 66.66%;
    }

    .label {
        font-size: 14px;
        color: black;
        font-weight: bold;
    }

    .chart-container {
        position: relative;
        width: 300px;
    }

    .svg-box {
        position: relative;
        height: 180px;
        width: 180px;
        margin: 0 auto;
        svg {
            height: 100%;
            width: 100%;
        }
    }

    .svg-box:before {
        content: '';
        display: block;
        position: absolute;
        border: 2px solid #000;
        height: 180px;
        width: 180px;
        transform: rotate(45deg);
    }

    .customRange {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 6px;
        background: #000;
        /* Track color */
        border-radius: 5px;
        outline: none;
        opacity: 0.7;
    }

    .customRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        /* Thumb color */
        border: 2px solid #000;
        /* Thumb border */
        cursor: pointer;
    }

    .customRange::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        border: 2px solid #000;
        cursor: pointer;
    }

    .slide-image-wrap img {
        width: 100%;
    }

    .slick-prev {
        left: 0;
        z-index: 9;
    }

    .slick-next {
        right: 0px;
    }
    .col-cost-estimator {
        padding: 30px;
    }
    .col-estimated-cost {
        padding: 30px;
        .estimated-cost-wrap {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

.custom-slick-slider {
    .slick-next:before, .slick-prev:before {
        color: $black;
    }
    .custom-slide {
        padding: 0 20px;
    }
}