.cost-estimator-wrap {
    .page-estimator {
        padding: 100px 0 0;
    }

    .middle-content {
        padding-bottom: 100px;
    }

    .main-row {
        margin: 0;
    }

    .col-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    input[type="range"] {
        width: 80%;
        margin: 10px 0;
    }

    .cost-breakdown {
        margin-top: 10px;
    }

    .price-range {
        margin-top: 10px;
        font-size: 14px;
    }

    .price-range span {
        font-weight: bold;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .btn-minus,
    .btn-plus {
        font-size: 30px;
        font-weight: 300;
        padding: 5px;
    }

    .label {
        font-size: 14px;
        color: black;
        font-weight: bold;

        span {
            font-weight: 300;
        }
    }

    .chart-container {
        position: relative;
        width: 300px;
    }

    .col-left-content {}

    .svg-box-wrap {
        padding-top: 80px;
    }

    .svg-box {
        position: relative;
        // height: 180px;
        // width: 180px;
        max-width: 316px;
        height: 316px;
        margin: auto;

        svg {
            height: 100%;
            width: 100%;
            position: absolute;
            top: -68px;
            left: -68px;
        }

        .sizes {
            position: absolute;
            height: auto;
            font-weight: 600;
            letter-spacing: 0;
        }

        .size {
            top: -70px;
            left: 75px;
        }

        .quality {
            left: 230px;
            top: 75px;
        }

        .scope {
            bottom: 65px;
            left: 65px;
        }

        .complexity {
            left: -140px;
            top: 72px;
        }
    }

    .svg-box:before {
        content: '';

    }

    .large-box {
        display: block;
        position: absolute;
        border: 3px solid $black;
        height: 180px;
        width: 180px;
        transform: rotate(45deg);
    }

    .medium-box {
        border: 3px solid $black;
        height: 112px;
        width: 112px;
        transform: rotate(45deg);
        position: absolute;
        top: 34px;
        left: 34px;
    }

    .small-box {
        border: 3px solid rgba($color: $black, $alpha: 0.6);
        height: 60px;
        width: 60px;
        transform: rotate(45deg);
        position: absolute;
        top: 60px;
        left: 60px;
        background-color: rgba($color: $black, $alpha: 0.25);
    }

    .lines {
        position: absolute;

        &:after {
            content: '';
            display: block;
            width: 2px;
            background-color: $black;
            position: absolute;
            left: 0;
            height: 180px;
        }
    }


    .line {
        position: absolute;
        background-color: $black;
        width: 3px;
        height: 176px;
        top: 0;
        left: 28%;
        transform-origin: center;
    }

    .line1 {
        transform: rotate(45deg);
    }

    .line2 {
        transform: rotate(-45deg);
    }

    .customRange {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 6px;
        background: $black;
        /* Track color */
        border-radius: 5px;
        outline: none;
        opacity: 1;
    }

    .customRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $black;
        border: 1px solid $white;
        cursor: pointer;
    }

    .customRange::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        border: 2px solid $black;
        cursor: pointer;
    }

    .slide-image-wrap img {
        width: 100%;
    }

    .slick-prev {
        left: 0;
        z-index: 9;
    }

    .slick-next {
        right: 0px;
    }

    .col-cost-estimator {
        padding: 100px 30px 40px;
    }

    .col-estimated-cost {
        padding: 30px;

        .estimated-cost-wrap {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

.custom-slick-slider {

    .slick-next:before,
    .slick-prev:before {
        color: $black;
    }

    .custom-slide {
        padding: 0 20px;
    }
}

// Responsive css start
@media(max-width:1023px) {
    .cost-estimator-wrap {
        .col-cost-estimator {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .col-left-content {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .col-estimated-cost {
            max-width: 50%;
            flex: 0 0 50%;
        }

        .col-svg-box {
            padding: 90px 0 40px 20px;
            max-width: 50%;
            flex: 0 0 50%;
        }

        .svg-box {
            height: 150px;
            width: 150px;

            &::before {
                height: 150px;
                width: 150px;
            }

            .medium-box {
                height: 90px;
                width: 90px;
                top: 30px;
                left: 30px;
            }

            .small-box {
                height: 40px;
                width: 40px;
                top: 55px;
                left: 55px;
            }

            .line {
                height: 154px;
            }

            .size {
                top: -65px;
                left: 65px;
            }

            .quality {
                left: 195px;
                top: 65px;
            }

            .scope {
                bottom: -72px;
                left: 65px;
            }

            .complexity {
                left: -120px;
                top: 60px;
            }
        }
    }
}

// 1023 end
@media(max-width:1023px) {
    .cost-estimator-wrap {
        .col-estimated-cost {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .col-svg-box {
            padding: 90px 0 40px 20px;
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

// 1023 end