@import "../colors.scss";
header {
    padding: 36px 0 33px;
    -webkit-transition: background-color .3s, opacity .3s !important;
    -o-transition: background-color .3s, opacity .3s !important;
    transition: background-color .3s, opacity .3s !important;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: $white;
    .menu-btn-toggle {
        display: none;
    }
    .header-nav {
        align-items: center;
    }
    .col-logo {
        max-width: 230px;
        flex: 0 0 230px;
    }
    .logo {
        max-width: 142px;
    }
    nav {
        ul {
            display: flex;
            justify-content: center;
            li {
                padding: 0 20px;
            }
        }
        a {
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: $text-color;
            letter-spacing: -0.16px;
            padding: 5px 3px;
            display: block;
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            -webkit-transition: border-color .25s;
            -o-transition: border-color .25s;
            transition: border-color .25s;
            &:hover {
                border-color: $text-color;
            }
        }
        .active {
            font-style: italic;
            font-weight: 700;
        }
    }
    .col-get-started {
        max-width: 200px;
        flex: 0 0 200px;
        text-align: right;
        a {
            background-color: $black;
            color: $white;
            min-width: 157px;
            display: inline-block;
            padding: 11px;
            font-weight: 700;
            font-size: 17px;
            line-height: 21px;
            font-style: italic;
            text-align: center;
            text-transform: uppercase;
            border: 1px solid transparent;
            &:hover {
                color: $black;
                background-color: transparent;
                border-color: $black;
            }
        }
    }
}
.header-sticky {
    header {
        background-color: $white;
    }
}
// Responsive UI start
@media (max-width:1440px) {
    header {
        nav {
            a {
                font-size: 14px;
                line-height: 17px;
            }
        }
        .col-get-started {
            a {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
// 1440 end
@media (max-width:1240px) {
    header {
        .col-logo {
            max-width: 150px;
            flex: 0 0 150px;
        }
        nav {
            ul {
                li {
                    padding: 0 12px;
                }
            }
        }
        .col-get-started {
            max-width: 160px;
            flex: 0 0 160px;
        }
    }
}
@media (max-width:1023px) {
    body {
        &:before {
            content: "";
            width: 100%;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba($color: #000000, $alpha: 0.4);
            opacity: 0;
            z-index: 0;
            pointer-events: none;
            -webkit-transition: opacity .3s;
            -o-transition: opacity .3s;
            transition: opacity .3s;
        }
    }
    header {
        padding: 29px 0;
        background-color: $white !important;
        .container {
            padding: 0 40px;
        }
        .menu-btn-toggle {
            display: block;
            position: fixed;
            top: 40px;
            padding: 5px;
            right: 25px;
            z-index: 9999;
            span {
                display: block;
                background-color: $text-color;
                width: 24px;
                height: 2px;
                border-radius: 44px;
                -webkit-transition: -webkit-transform .3s;
                transition: -webkit-transform .3s;
                -o-transition: transform .3s;
                transition: transform .3s;
                transition: transform .3s, -webkit-transform .3s;
                +span {
                    margin-top: 4px;
                }
            }
        }
        .header-nav {
            justify-content: space-between;
        }
        .col-logo {
            position: relative;
            z-index: 99;
        }
        .col-nav {
            max-width: 100%;
            flex: 0 0 100%;
        }
        .col-get-started {
            max-width: 160px;
            flex: 0 0 160px;
            position: fixed;
            top: 26px;
            right: 75px;
            z-index: 999;
        }
        .contact-url {
            padding-right: 50px;
        }
        nav {
            position: fixed;
            left: 0;
            top: 0;
            background-color: $white;
            padding: 100px 20px 20px 40px;
            z-index: 44;
            height: 100vh;
            width: 30%;
            min-width: 350px;
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);
            opacity: 0;
            pointer-events: none;
            -webkit-transition: opacity .25s, -webkit-transform .3s;
            transition: opacity .25s, -webkit-transform .3s;
            -o-transition: transform .3s, opacity .25s;
            transition: transform .3s, opacity .25s;
            transition: transform .3s, opacity .25s, -webkit-transform .3s;
            ul {
                flex-direction: column;
                li {
                    padding: 10px 0;
                    a {
                        padding: 0;
                        &:hover {
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
    .header-open {
        &:before {
            opacity: 1;
            z-index: 45;
        }
        .page-home {
            header {
                background-color: $white;
            }
        }
        header {
            .menu-btn-toggle {
                span {
                    &:first-child {
                        -webkit-transform: translateY(6px) rotate(45deg);
                        -ms-transform: translateY(6px) rotate(45deg);
                        transform: translateY(6px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        -webkit-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        transform: scaleX(0);
                    }
                    &:last-child {
                        -webkit-transform: translateY(-6px) rotate(-225deg);
                        -ms-transform: translateY(-6px) rotate(-225deg);
                        transform: translateY(-6px) rotate(-225deg);
                    }
                }
            }
            nav {
                opacity: 1;
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
                pointer-events: all;
                ul {
                    height: calc(100vh - 160px);
                    overflow: hidden;
                    overflow-y: auto;
                }
            }
        }
    }
}
// 1023 end
@media (max-width:767px) {
    header {
        nav {
            width: 100%;
        }
        .container {
            padding: 0 20px;
        }
        .col-logo {
            max-width: 100%;
            flex: 0 0 100%;
        }
        .logo {
            img {
                max-width: 120px;
            }
        }
        .contact-url {
            padding-right: 6px;
        }
        .col-get-started {
            top: 34px;
            a {
                line-height: 17px;
                min-width: 117px;
                padding: 6px;
            }
        }
    }
}
// 767 end
@media (max-width:350px) {
    header .col-get-started {
        right: 55px;
        a {
            min-width: 110px;
        }
    }
}