.section-image-content {
    .col-img {
        min-height: 580px;
    }

    .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    h2 {
        margin-bottom: 55px;
    }

    .content {
        max-width: 520px;
        padding: 30px 15px;
        margin: 0 auto;
        p + p {
            margin-top: 12px;
        }
    }

    .link-text {
        padding-top: 30px;
    }
    .row {
        align-items: normal;
        .col-img-content {
            align-self: center;
        }
    }
}
.section-image-content-cards {
    .row {
        &:nth-child(even) {
            .col-img-content {
                order: 1;
            }
        }
    }
}
.section-image-content-miami-cards {
    .row {
        &:nth-child(even) {
            .col-img-content {
                order: 0;
            }
            .col-img  {
                order: 1;
            }
        }
    }
}
// Responsive CSS start
@media (max-width:1440px) {
    .section-image-content {
        h2 {
            margin-bottom: 40px;
        }

        .link-text {
            padding-top: 10px;
        }
    }
}

// 1440 end
@media (max-width:1199px) {
    .section-image-content {
        .col-img {
            min-height: 500px;
        }
    }
}

// 1199end
@media (max-width:1023px) {
    .section-image-content {
        .col-img {
            min-height: 400px;
        }
        h2 {
            margin-bottom: 25px;
        }
    }
}

// 1023 end
@media (max-width:767px) {
    .section-image-content {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }
        .col-img {
            min-height: 100%;
            padding-bottom: 75%;
            order: 1;
        }
        .content {
            margin: 0;
            padding:40px 20px ;
        }
    }
}

// 1023 end