.home-image-content-slider {
    .slick-prev {
        display: none !important;
    }

    .slick-next {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 3.6%;
        text-indent: -99em;
        font-size: 0;
        width: 33px;
        height: 10px;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            background-image: url('../../images/icons/left-arrow.svg');
            width: 33px;
            height: 10px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .slider-dots {
        min-height: 80px;
    }

    .slick-dots {
        padding: 40px 0 30px;
        display: flex;
        list-style: none;
        position: absolute;
        left: calc(50% - 39%);
        bottom: 33.2%;

        ul {
            display: flex;
        }

        li {
            margin: 0 5px;
            width: 10px;
            height: 10px;
            text-indent: -99em;
            border-radius: 100%;
            background-color: rgba($color: $text-color, $alpha: 0.3);
        }

        .active,
        .slick-active {
            background-color: $text-color;
        }
    }

    .col-img-content {
        .content {
            padding: 0 22%;
            max-width: 100%;
        }

        .link-text {
            padding-top: 0;
        }
    }
}

.after-before-slider {
    .slick-arrow {
        position: absolute;
        bottom: 14px;
        background-color: transparent;
        border: none;
        text-indent: -99em;
        font-size: 0;
        z-index: 1;

        &:after {
            content: '';
            display: block;
            height: 22px;
            width: 46px;
        }

        &.slick-next {
            right: 24px;
            background-image: url("../../images/icons/right-arrow.svg");
        }

        &.slick-prev {
            left: 24px;
            background-image: url("../../images/icons/left-arrow1.svg");
        }
    }

    .slick-dots {
        display: flex;
        list-style: none;
        padding: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        background-color: $pearl-drop2;
        width: 100%;
        justify-content: center;
        padding: 9.5px;
        min-height: 49px;

        li {
            padding: 0 5px;
        }

        .slick-active {
            button {
                background-color: $black;
            }
        }

        button {
            background-color: $light-pink;
            border: none;
            width: 10px;
            height: 10px;
            text-indent: -99em;
            border-radius: 100%;
            overflow: hidden;
        }
    }
}

// Responsive css start
@media (max-width:1199px) {
    .home-image-content-slider {
        .col-img-content .content {
            padding-right: 30px;
        }
    }
}

// 1199 end
@media (max-width:991px) {
    .home-image-content-slider {
        .content {
            .content-p {
                br {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:767px) {
    .home-image-content-slider {
        .slider-dots {
            min-height: 60px;
        }
        .slick-dots {
            top: 205px;
            bottom: auto;
            left: 20px;
            padding: 0;
        }

        .col-img-content {
            .content {
                padding: 60px 20px 40px;

                .link-text {
                    padding-top: 0;
                }
            }
        }

        .slick-next {
            left: 20px;
            top: 35px;
        }
    }
}

// 767 end
@media (max-width:375px) {
    .home-image-content-slider {
        .content-p {
            min-height: 48px;
        }
        .slick-dots {
            top: 225px;
        }
    }
}
// 375 end